[submodule "kuka-lwr"]
	path = kuka-lwr
	url = https://github.com/CentroEPiaggio/kuka-lwr.git
[submodule "pisa-iit-soft-hand"]
	path = pisa-iit-soft-hand
	url = https://github.com/CentroEPiaggio/pisa-iit-soft-hand.git
[submodule "kit-head"]
	path = kit-head
	url = https://github.com/CentroEPiaggio/kit-head.git
[submodule "ros_control"]
	path = ros_control
	url = https://github.com/CentroEPiaggio/ros_control.git
