<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- Load .yaml configuration files on the param server -->
  <include file="$(find dual_manipulation_shared)/launch/dual_manipulation.launch">
    <arg name="robot_name" value="vito"/>
  </include>
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find vito_moveit_configuration)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find vito_moveit_configuration)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
