<launch>
    <!-- LAUNCH INTERFACE -->
    <arg name="gui" default="false" />
    <arg name="robot_name" default="vito_calib"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_joint_state_publisher" default="true"/>    

    <!-- configure whether the real hardware is enabled or not -->
    <arg name="head_enabled" default="false"/>
    <arg name="left_arm_enabled" default="true"/>
    <arg name="right_arm_enabled" default="false"/>

    <!-- LAUNCH IMPLEMENTATION -->

    <!-- #### -->

    <!-- load the full robot in robot_description, useful for visualization, collision detection and planning simultaneously -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find vito_description)/robot/$(arg robot_name).urdf.xacro"/>

    <group if="$(arg use_joint_state_publisher)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="$(arg gui)"/>
            <!-- listens to each part -->
            <rosparam param="source_list">[/left_arm/joint_states,/right_arm/joint_states,/head/joint_states]</rosparam>
        </node>
    </group>

    <param name="publish_frequency" value="100"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"  />

    <group if="$(arg use_rviz)">
        <node name="my_rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find vito_description)/launch/rviz_calib_config.rviz" output="screen"/>
    </group>

    <!-- load hardware interface and controller configurations -->
    <rosparam command="load" file="$(find vito_description)/config/vito_controllers.yaml"/>
    <rosparam command="load" file="$(find vito_description)/config/hardware_interfaces.yaml"/>

    <!-- #### -->
    <!-- since we usually do this with the real hardware, we can merge the groups with ns and if atributes -->

    <group ns="head" if="$(arg head_enabled)">
        <!--add a copy of the robot description within the name space -->
        <param name="robot_description" command="$(find xacro)/xacro.py $(find vito_description)/robot/$(arg robot_name).urdf.xacro"/>
        <!-- <include file="$(find kit_head_hw)/launch/head_hw.launch">
        </include>
        -->
        <!-- openni launch inclusion -->
            <!-- load the controllers in current namespace -->
        <!--     <node ns="head" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_state_controller joint_trajectory_controller"/> -->
    </group>

    <group ns="left_arm" if="$(arg left_arm_enabled)">
        <!--add a copy of the robot description within the name space -->
        <param name="robot_description" command="$(find xacro)/xacro.py $(find vito_description)/robot/$(arg robot_name).urdf.xacro"/>

        <rosparam command="load" file="$(find vito_description)/config/left_arm_names.yaml" />

        <include file="$(find lwr_hw)/launch/lwr_hw.launch">
            <arg name="port" value="49948"/>
            <arg name="ip" value="192.168.0.20"/>
            <arg name="name" value="left_arm"/>
        </include>
        <!-- load the controllers in current namespace -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_state_controller joint_trajectory_controller"/>
        
    </group>

    <group ns="right_arm" if="$(arg right_arm_enabled)">
        <!--add a copy of the robot description within the name space -->
        <param name="robot_description" command="$(find xacro)/xacro.py $(find vito_description)/robot/$(arg robot_name).urdf.xacro"/>

        <rosparam command="load" file="$(find vito_description)/config/right_arm_names.yaml" />

        <include file="$(find lwr_hw)/launch/lwr_hw.launch">
            <arg name="port" value="49939"/>
            <arg name="ip" value="192.168.0.10"/>
            <arg name="name" value="right_arm"/>
        </include>

        <!-- load the controllers in current namespace -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_state_controller joint_trajectory_controller"/>
    </group>

</launch>
