<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="clamp" params="parent name *origin">
  <joint name="${parent}_${name}_base_joint" type="fixed">
    <insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${name}"/>
  </joint>
  <link name="${name}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://vito_description/meshes/clamp.stl"/>
      </geometry>
      <material name="Vito/Silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.066 0.0725 0.0256"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>

</robot>