<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="left_hand">

  <xacro:include filename="$(find soft_hand_description)/model/soft_hand.urdf.xacro"/>
    
  <link name="left_arm_7_link" />

  <xacro:soft_hand parent="left_arm_7_link" name="left_hand" left="true" withAdaptiveTransmission="true" useMimicTag="false">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand>

</robot>