<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="tableTorso">


  <link name="world"/>

	<xacro:model_torso name="torso" parent="world">
		<origin xyz="0 0 0"/>
	</xacro:model_torso>

    <xacro:model_table name="table" 
                    parent="world"
                    length="1.45"
                    width="1.45"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="-1.22 0.75 0" rpy="0 0 0"/>
  </xacro:model_table>

</robot>