<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="vito_calib">
       
  <xacro:include filename="$(find vito_description)/model/torso.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/table.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/materials.urdf"/>
  <xacro:include filename="$(find vito_description)/model/calibrator.urdf.xacro"/>
  <xacro:include filename="$(find lwr_description)/model/kuka_lwr.urdf.xacro"/>
    
  <link name="world" />
  
  <xacro:model_table name="table" 
                    parent="world"
                    length="1.45"
                    width="1.45"
                    height="0.9"
                    plate_thickness="0.1">
    <origin xyz="-1.22 0.75 0" rpy="0 0 0"/>
  </xacro:model_table>

  <xacro:model_torso name="torso" parent="world">
    <origin xyz="0 0 0"/>
  </xacro:model_torso>
  
  <xacro:kuka_lwr name="left_arm" parent="world">
    <origin xyz="0.0 -0.108585 0.475" 
      rpy="${M_PI*40.8933907/180} ${M_PI*48.5903708/180} ${M_PI*-40.8933907/180}"/>
  </xacro:kuka_lwr>
  
  <xacro:kuka_lwr name="right_arm" parent="world">
    <origin xyz="0.0 0.108585 0.475" 
      rpy="${M_PI*-40.8933907/180} ${M_PI*48.5903708/180} ${M_PI*40.8933907/180}"/>
  </xacro:kuka_lwr>

  <!-- from the CAD model, the frame coincides with the 7-th link -->
  <xacro:calibrator name="calibrator_10" parent="right_arm_7_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:calibrator>

  <xacro:calibrator name="calibrator_20" parent="left_arm_7_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:calibrator>

</robot>