<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="vito">
       
  <!-- MODELS -->
  <xacro:include filename="$(find vito_description)/model/torso.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/table.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/velvet.urdf.xacro"/>
  <xacro:include filename="$(find vito_description)/model/materials.urdf"/>
  <xacro:include filename="$(find lwr_description)/model/kuka_lwr.urdf.xacro"/>

  <xacro:include filename="$(find soft_hand_description)/model/soft_hand.urdf.xacro"/>
    
  <link name="world" />                  
  <link name="vito_anchor" />

    <joint name="w_fixed" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <!-- <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/> -->
      <parent link="world" />
      <child link="vito_anchor" />                      
    </joint>                                           

  
  <!-- BODY -->
 <!--  <xacro:model_table name="table" 
                    parent="world"
                    length="0.725"
                    width="1.05"
                    height="0.910"
                    plate_thickness="0.05">
    <origin xyz="-0.215 0.55 0" rpy="0 0 0"/>
  </xacro:model_table>
 -->
    <!--xacro:model_table name="workbench"
                    parent="world"
                    length="0.725"
                    width="1.25"
                    height="0.910"
                    plate_thickness="0.05">
  <origin xyz="-1.25 0.625 0.00" rpy="0 0 0"/>
  </xacro:model_table-->


  <!-- TORSO -->
  <!-- <xacro:model_torso name="torso" parent="world">
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
  </xacro:model_torso> -->
  
  <!-- LEFT ARM -->
  <xacro:kuka_lwr name="left_arm" parent="vito_anchor">
    <!-- <origin xyz="-0.1650   -0.0000    0.3814" rpy="-2.1588   -0.4478    1.8518"/> -->
    <origin xyz="0.57 0.801 1.307" rpy="3.1415 0.5235987010713441 3.1415"/>      
    <!-- <origin xyz="0.57 0.801 1.407" rpy="3.1415 0.5235987010713441 3.1415"/> -->        <!-- conf inverse kinematic -->
  </xacro:kuka_lwr>

  <!-- LEFT SOFTHAND -->
 <!--  <xacro:soft_hand parent="left_arm_7_link" name="left_hand" left="true" withAdaptiveTransmission="true" useMimicTag="$(arg use_mimic_tag)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:soft_hand> -->

  <!-- RIGHT ARM -->
    <xacro:kuka_lwr name="right_arm" parent="vito_anchor">
    <!-- <origin xyz="-0.165 0.10858 0.490" rpy="-1.5707963267948966 -0.5235987010713441 0.5235990737060282"/> -->
     <origin xyz="0.77 0.801 1.607" rpy="3.1415 -0.7854 0"/>   
 <!--  <origin xyz="0.77 0.801 1.707" rpy="3.1415 -0.7854 0"/> -->      <!-- conf originale inverse kinematic -->

  </xacro:kuka_lwr>

  <!-- RIGHT SOFTHAND -->
  <xacro:soft_hand parent="right_arm_7_link" name="right_hand" left="false" withAdaptiveTransmission="true" useMimicTag="$(arg use_mimic_tag)">
    <origin xyz="0 0 0" rpy="0 0 3.1415"/>
  </xacro:soft_hand>

  <link name="ft_surface">
      <inertial>
        <mass value="0.1"/>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <inertia ixx="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}"  ixy="0"  ixz="0" iyy="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}" iyz="0" izz="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.001" />
        </geometry>
      </visual>

<!--       <collision>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.02" />
        </geometry>
        <surface>
          <contact>
            <collide_bitmask>"0x11111"</collide_bitmask>
          </contact>
        </surface>
      </collision> -->

  </link>
  
  <joint name="ft_joint_sensor" type="fixed">
    <origin xyz="0.015 0.030 0.192" rpy="1.5708 0.0 1.5708"/>
    <parent link="right_arm_7_link" />
    <child link="ft_surface" />
  </joint>



<!-- PALETTA LEFT -->
   <xacro:model_velvet parent="left_arm_7_link" name="left_velvet">
    <origin xyz="0 0 0.14" rpy="0 0 0.5235987010713441"/>   
     <!-- <origin xyz="0 0 0.14" rpy="0 0 0"/>    -->        
    <!-- <origin xyz="0 0 0" rpy="0 0 0"/>    -->    <!-- conf inverse kinematic è pi ultima componente -->
  </xacro:model_velvet>


<link name="velvet_dummy">
</link>
      


<joint name="velvet_dummy_joint" type="fixed">
      <origin xyz="0.0150 -0.0260 0.28" rpy="0 0 0.5235987010713441"/>
      <parent link="left_arm_7_link"/>
      <child link="velvet_dummy"/>
    </joint>

<link name="hand_dummy">
</link>
      


<joint name="hand_dummy_joint" type="fixed">
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <parent link="right_arm_7_link"/>
      <child link="hand_dummy"/>
    </joint>


<!-- 

  <link name="gripper_link">
      <inertial>
        <mass value="0.1"/>
          <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <inertia ixx="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}"  ixy="0"  ixz="0" iyy="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}" iyz="0" izz="${1 / 12  * (3 * 0.05 * 0.05 + 0.01 * 0.01)}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
        <mesh filename="package://vito_description/meshes/gripper.stl"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.02" />
        </geometry>
        <surface>
          <contact>
            <collide_bitmask>"0x11111"</collide_bitmask>
          </contact>
        </surface>
      </collision>

  </link>
  
  <joint name="gripper_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left_arm_7_link" />
    <child link="gripper_link" />
  </joint>

 -->

<!--   <gazebo reference="ft_surface_fake">
    <gravity>true</gravity>
  </gazebo>

    <gazebo>
      <plugin name="force_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>ft_sensor_topic</topicName>
        <jointName>ft_joint_sensor</jointName>
      </plugin>
    </gazebo>

    <gazebo reference="ft_joint_sensor">
      <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>  -->

    <!-- <xacro:model_table name="table" 
                    parent="world"
                    length="0.6"
                    width="0.8"
                    height="0.70"
                    plate_thickness="0.05">
    <origin xyz="1.350 1.201 0.70" rpy="0 0 0"/>
</xacro:model_table> -->

</robot>
